spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:test
    username: lomeone-db
    password: mY3i7fj@3agwct2
    hikari:
      maximum-pool-size: 4
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: mms-images-data

jwt:
  secret: ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890

logging:
  level:
    root: DEBUG
