<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Loging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log Format -->
        <layout class='ch.qos.logback.classic.PatternLayout'>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-4relative][%thread] %highlight(%-5level) --- [%logger.%method:%line] %msg%n</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
